.Header {
  border: 1px solid rgb(255,150, 150, 1.0);
  background: rgb(255, 150, 150, 0.5);
  color: black;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 10vh;
  margin: 0;
  padding: 0;
}

.header-Header {
  color: blue;
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  vertical-align: middle;
  text-align: left;
  margin: 0;
  margin-left: 2em;
}

.header-Home {
  color: red;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.header-Authors {
  color: green; 
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.header-Articles {
  color: orange;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.header-Topics {
  color: purple;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.header-MyProfile {
  color: magenta;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.header-User {
  border: 1px solid rgb(70, 255, 24);
  background: rgb(70, 255, 24, 0.5);
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  max-height: 10vh;
  margin: 0;
  padding: 0;
}

.header-User-Username {
  margin:0;
}