.Header {
  border: 5px solid rgb(190, 220, 235);
  background: rgba(190, 220, 235, 0.5);
  color: black;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 10vh;
  width: 80vw;
  margin: 0;
  padding: 0;
}

.header-Header {
  color: rgba(245, 245, 245, 0.438);
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  vertical-align: middle;
  text-align: left;
  margin: 0;
  margin-left: 2em;
}

.header-Home {
  color: rgb(110, 110, 110);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 2em;
  text-decoration: none;
}

.header-Home:hover {
  background-color: rgba(126, 219, 255, 0.5);
  border-radius: 0.5em;
  transition: ease-in 0.3s;
}

.header-Authors {
  color: rgb(110, 110, 110); 
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 2em;
  text-decoration: none;
}

.header-Authors:hover {
  background-color: rgba(246, 253, 141, 0.5);
  border-radius: 0.5em;
  transition: ease-in 0.3s;
}

.header-Articles {
  color: rgb(110, 110, 110);
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  font-size: 2em;
  text-decoration: none;
}

.header-Articles:hover {
  background-color: rgba(216, 248, 129, 0.5);
  border-radius: 0.5em;
  transition: ease-in 0.3s;
}

.header-Topics {
  color: rgb(110, 110, 110);
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  font-size: 2em;
  text-decoration: none;
}

.header-Topics:hover {
  background-color: rgba(213, 176, 255, 0.5);
  border-radius: 0.5em;
  transition: ease-in 0.3s;
}

.header-MyProfile {
  color: rgb(110, 110, 110);
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  font-size: 2em;
  text-decoration: none;
}

.header-MyProfile:hover {
  background-color: rgba(255, 176, 176, 0.5);
  border-radius: 0.5em;
  transition: ease-in 0.3s;
}

.header-User {
  border: 1px solid rgb(70, 255, 24);
  background: rgb(70, 255, 24, 0.5);
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  max-height: 10vh;
  margin: 0;
  padding: 0;
}

.header-User-Username {
  margin:0;
}