.Main-Article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  height: 85vh;
}

.Main-Article h2 {
  max-height: 100%;
  margin: 0;
  padding: 0;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  text-align: left;
  height: 10vh;
}

.Article-Information {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 75vh;
}

.Article-Information-Text {
  border: 2px solid rgb(183, 235, 255);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin: 0em;
  padding: 0.5em;
  overflow: scroll;
  height: 35vh;
}

.Article-Information-Comments {
  border: 2px solid rgb(183, 235, 255);
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height: 40vh;
  margin: 0em;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 5fr;
}

.Article-Information-Comments-Title {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.Article-Information-Comments-Sort {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.Article-Information-Comments-List {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  overflow: scroll;
  margin: 0em;
  padding: 0em;
}

.Article-Information-Comments-List li {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 4fr 1fr;
  height: 16vh;
}

.Article-Information-Comments-Text {
  grid-row: 1 / 5;
  grid-column: 1 / 2;
  max-height: 16vh;
  overflow: scroll;
  margin: 0em;
  padding: 0.5em;
}

a.Article-Information-Comments-Text{
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border: 1px dashed grey;
  background: rgb(204, 224, 231);
  box-shadow: 5px 5px 5px grey;
}

.Article-Information-Comments-Delete {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  height: 4vh;
  margin: 0em;
  padding: 0em;
}

.Article-Information-Comments-Up {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  height: 4vh;
  margin: 0em;
  padding: 0em;
}

.Article-Information-Comments-Down {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  height: 4vh;
  margin: 0em;
  padding: 0em;
}

.Article-Information-Comments-Votes {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  height: 4vh;
  margin: 0em;
  padding: 0em;
}

.Article-Comments {
  height: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 75vh;
}

.Article-Comments-Form {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: 35vh;
  margin: 0em;
  padding: 0em;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
}

.Article-Comments-Form h3 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  text-align: left;
  margin-left: 0.5em;
}

#Article-Comments-Form-Author {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#Article-Comments-Form-Article_Id {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#Article-Comments-Form-Body {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.Article-Comments-Response {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height: 40vh;
  margin: 0em;
  padding: 0em;
}

.Article-Votes {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  height: 10vh;
  margin: 0em;
  padding: 0em;
}