.Main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 85vh;
}

.Main-Articles {
  border: 1px solid rgb(241, 207, 51, 1.0);
  background: rgb(241, 207, 51, 0.5);
  color: black;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 85vh;
  margin: 0;
  padding: 0;
}

.Articles-Search-Form {
  border: 1px solid rgb(236, 50, 253);
  background: rgb(236, 50, 253, 0.5);
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
  height: 42vh;
  margin: 0;
  padding: 0;
}

.Articles-Search-Repsonse {
  border: 1px solid rgb(50, 223, 253);
  background: rgb(50, 223, 253, 0.5);
  margin: 0;
  padding: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 42vh;
}

.Articles-Search-Results {
  border: 1px solid rgb(50, 131, 253);
  background: rgb(50, 131, 253, 0.5);
  padding: 0em;
  margin: 0em;
  height: 35vh;
}

#Articles-Search-ID {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#Articles-Search-Title {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#Articles-Search-Author {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

#Articles-Search-Submit {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

#Articles-Search-Clear-Inputs {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
}

#Articles-Search-Clear-Results {
  grid-row: 7 / 8;
  grid-column: 1 / 2;
}

.Articles-Add-Form {
  border: 1px solid rgb(50, 97, 253);
  background: rgb(50, 97, 253, 0.5);
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-columns: 1fr;
  height: 42vh;
  margin: 0;
  padding: 0;
}

#Articles-Add-Title {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#Articles-Add-Author {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#Articles-Add-Body {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

#Articles-Add-Topic {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

#Articles-Add-Submit {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
}

#Articles-Add-Clear {
  grid-row: 7 / 8;
  grid-column: 1 / 2;
}

.Articles-Add-Response {
  border: 1px solid rgb(253, 50, 84);
  background: rgb(253, 50, 84, 0.5);
  margin: 0;
  padding: 0;
  grid-row: 2 / 7;
  grid-column: 2 / 3;
  height: 42vh;
}

.Articles-Add-Results {
  border: 1px solid rgb(253, 50, 50);
  background: rgb(253, 50, 50, 0.5);
  padding: 0em;
  margin: 0em;
  height: 30vh;
}