.Nav {
  background: rgb(190, 220, 235, 0.5);
  color: black;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  height: 85vh;
  margin: 0;
  padding: 0;
  width: 20vw;
}

.Nav-Home-Articles {
  border-bottom: 25px solid rgb(190, 220, 235);
  padding: 0.3em;
  margin: 0;
  overflow-y: scroll;
  height: 70vh;
}

.Nav-Home-Topics {
  border-bottom: 25px solid rgb(190, 220, 235);
  padding: 0.3em;
  margin: 0;
  overflow-y: scroll;
  height: 15vh;
}

@keyframes list {
  from {background-color: red;}
  to {background-color: yellow;}
}

li:hover {
  animation-name: list;
  animation-duration: 4s;
}