.Nav {
  border: 1px solid rgb(154, 236, 60, 1.0);
  background: rgb(154, 236, 60, 0.5);
  color: black;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  height: 85vh;
  margin: 0;
  padding: 0;
}

.Nav-Home-Articles {
  border: 1px solid rgb(130, 184, 69);
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 43vh;
}

.Nav-Home-Topics {
  border: 1px solid rgb(130, 184, 69);
  padding: 0%;
  margin: 0;
  overflow-y: scroll;
  height: 42vh;
}